services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: kedr-time.ru
        working_dir: /var/www/kedr-time.ru
        volumes:
            - .:/var/www/kedr-time.ru
        depends_on:
            - postgres
            - redis
        networks:
            - laravel

    nginx:
        image: nginx:alpine
        ports:
            - "8085:80"
        volumes:
            - .:/var/www/kedr-time.ru:ro
            - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
        depends_on:
            - app
        networks:
            - laravel

    postgres:
        image: postgres:16
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: laravel
        ports:
            - "5432:5432"
        volumes:
            - pg_data:/var/lib/postgresql/data
            - ./docker/postgres:/docker-entrypoint-initdb.d
        networks:
            - laravel

    redis:
        image: redis:7-alpine
        ports:
            - "6379:6379"
        networks:
            - laravel

    node:
        image: node:20-alpine
        working_dir: /var/www/kedr-time.ru
        volumes:
            - .:/var/www/kedr-time.ru
        command: sh -c "npm install && npm run dev"
        ports:
            - "5173:5173"
        networks:
            - laravel

volumes:
    pg_data:

networks:
    laravel:
        driver: bridge
